@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colors */
    --highlighted-item : #5D5FEF;
    --highlighted-item-hovered : #373895;
    --title : #2B3674;
    --link : #007AFF;
    --black : #000000;
    --white : #FFFFFF;
    --input-background : #F2F2F2;
    --placeholder-text-highlighted : #737791;
    --placeholder-text : #9297b8;
    --icon-color : #4D4D4D;
    --background : #FAFAFA;
    --border-color : #E9EDF7;
    --success-message-color : #28A745;
    --delete-btn : #E74C3C;
    --delete-btn-hover : #C0392B;

    /* Fonts */

    --title-size : 36px;
    --title-weight : 600;
    --title-font : 'Poppins', sans-serif;

    --label-size : 12px;
    --label-weight: 400;
    --label-font : 'Poppins', sans-serif;

    --placeholder-size : 14px;
    --placeholder-weight : 400;
    --placeholder-font : 'Roboto', sans-serif;

    --subtitle-size : 16px;
    --subtitle-weight : 600;
    --subtitle-font : 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100dvh;
}

#root {
    height: 100%;
    overflow: hidden;
}


.btn {
    background-color: var(--highlighted-item);
    padding: 16px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
    width: 150px;
}

.btn:hover {
    background-color: var(--highlighted-item-hovered);
    cursor: pointer;
}


.input-container {
    display: flex;
    flex-direction: column;
    margin: 4px;
    min-width: 250px;
}

.label {
    font-family: var(--label-font);
    font-size: var(--label-size);
    font-weight: var(--label-weight);
    color: var(--black);
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input {
    border: 2px solid transparent;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s;
    outline: none;
    border-radius: 8px;
    background-color: var(--input-background);
    padding: 8px;
}

.input::placeholder {
    color: var(--placeholder-text);
    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
}

.input:hover, .input:focus, .input-container:hover .input  {
    border-color: var(--highlighted-item);
}

.input-container:hover .label, .input:focus {
    color: var(--highlighted-item);
}

ul li {
    margin-bottom: 12px;
}

.success-message {
    color: var(--success-message-color);
    font-family: var(--label-font);
    font-size: var(--label-size);
    font-weight: var(--label-weight);
}