.homework-search {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.search-options {
    display: flex;
    column-gap: 16px;
    width: 75%;
}