.assignment-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    border-radius: 8px;

    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
    color: var(--black);

    border: 1px solid var(--placeholder-text);
    line-height: 1.1;
}

.assignment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.assignment-header-info {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.assignment-subject {
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--title);
}

.expand-btn {
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 8px;
    border: 1px solid var(--placeholder-text);
    cursor: pointer;
}

.assignment-body {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 12px;
}

.assignment-body-section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.assignment-section-title {
    text-decoration: underline;
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--title);
}

.assignment-document-container {
    display: flex;
    column-gap: 12px;
}

.assignment-document {
    padding: 6px;
    border: 2px solid var(--icon-color);
    border-radius: 4px;
    color: var(--title);
    width: fit-content;
    cursor: pointer;
}

.delete-icon {
    border: none;
    display: grid;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
}

.delete-btn {
    background-color: var(--delete-btn);
}

.delete-btn:hover {
    background-color: var(--delete-btn-hover);
}