.options {
    display: flex;
    column-gap: 16px;
    padding: 12px;
    justify-content: left;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-title {
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--placeholder-text-highlighted);
    border-bottom: 2px solid var(--placeholder-text);
}

.input-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form {
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.save-btn {
    position: relative;
    margin-left: auto;
}

.register-response {
    text-align: center;
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--placeholder-text-highlighted);
    padding: 8px;
}