.sidebar {
    display: flex;
    width: fit-content;
    flex-direction: column;
    height: 100%;
    row-gap: 64px;
    padding: 24px;
    border-right: 2px solid var(--border-color);
    width: 250px;
}

.navigation-options {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    height: 100%;
}

.navigation-options > .navigation-option:last-child {
    margin-top: auto;
}

