.placeholder-container {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    margin: 0;
    padding: 0;
    cursor:default;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    color: var(--title);
}