<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <form id="loginForm">
            <h1>Login</h1>
            <div class="inputbox">
                <ion-icon name="email-outline"></ion-icon>
                <input name="username" id="username" type="text" required>
                <label for="username">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" type="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="register">
                <p><a href="#">Forget Password?</a></p>
            </div>
            <button type="submit">Log in</button>
        </form>
        <p id="errorMessage" class="text-center redText"></p>
    </section>

    <script>
      const form = document.getElementById('loginForm');
      const errorMessage = document.getElementById('errorMessage');

      form.addEventListener('submit', async (event) => {
          event.preventDefault();
          
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;

          try {
            const response = await fetch('http://localhost:8080/api/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })
            });

              if (response.ok) {
                  const data = await response.json();
                  window.location.href = '/index'; // Redirect to the home page after successful login
              } else {
                  const errorData = await response.json();
                  errorMessage.textContent = errorData.message || 'Login failed. Please try again.';
              }
          } catch (error) {
              errorMessage.textContent = 'Error occurred. Please try again later.';
          }
      });
    </script>
</body>
</html>
