.input-container {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.label {
    font-family: var(--label-font);
    font-size: var(--label-size);
    font-weight: var(--label-weight);
    color: var(--black);
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input {
    border: 2px solid transparent;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s;
    outline: none;
    border-radius: 8px;
    background-color: var(--input-background);
    padding: 8px;
}

.input::placeholder {
    color: var(--placeholder-text);
    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
}

.input:hover, .input:focus, .input-container:hover .input  {
    border-color: var(--highlighted-item);
}

.input-container:hover .label, .input:focus {
    color: var(--highlighted-item);
}