.navigation-option {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    cursor: pointer;
    padding: 12px;
    transition: color 0.5s ease, background-color 0.5s ease-out, border-radius 0.5s ease;
}

.navigation-option.highlighted {
    background-color: var(--highlighted-item);
    color: var(--white);
    border-radius: 16px;
}

.navigation-option.highlighted:hover {
    background-color: var(--highlighted-item-hovered);
    color: var(--white);
}

.navigation-option.default {
    color: var(--placeholder-text);
    background-color: none;
}

.navigation-option.default:hover {
    color: var(--placeholder-text-highlighted);
    background-color: none;
}